// Small screens => Smartphones
@media screen and (max-width: 910px) {
    header {
        padding: 0;
    }

    header { 
        .right-header {
            padding: 0 !important;
            margin-top: 2.5rem;
        }
        h1{
            margin-right: 3rem;
        }
    }

    .section {
        padding: 2rem 3rem;
    }

    .theme-btn {
        width: 50px;
        height: 50px;
    }

    .header-content {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .left-header {
        .h-shape {
            display: none;
        }
    }

    .right-header {
        grid-row: 1;
        width: 90%;
        margin: 0 auto;

        .name {
            font-size: 2.5rem !important;
        }
    }

    .header-content {
        .left-header {
            .image {
                margin: 0 auto;
                width: 90%;
            }
        }
    }

    .about-container {
        grid-template-columns: 1fr;

        .right-about {
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }

        .left-about {
            padding-right: 0;
            p {
                padding-left: 0;
            }
        }
    }

    .about-timeline {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .about-stats {
        .stats-skills {
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            .about-item {
                .abt-text {
                    text-align: center;
                }
            }
        }
    }

    .portfolios {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    // === CONTACT ===
    .contact-content-con {
        flex-direction: column;
        .right-contact {
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }
    .contact-content-con .right-contact .i-c-2 {
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child {
        margin-left: 0;
        margin-top: 1.5rem;
    }
    // === CONTACT ===


    .main-title {
        h2 {
            font-size: 2rem;
            span {
                font-size: 2.5rem;
            }
            .bg-text {
                font-size: 3.5rem;
            }
        }
    }

    .controlls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);

        .control {
            margin: .6rem 1rem !important;

        }
    }

    #text-contact {
        line-height: 2.5rem;
    }

    .contact-info {
        .contact-item {
            display: inline !important;
            padding: 1rem;
            p {
                margin-left: 5rem;
            }
        }
    }
}

@media screen and (max-width: 1430px) {

    header{
        padding: 0 !important;
    }
    // .section {
    //     padding: 2.5rem 9rem;
    // }

    // === CONTACT ===
    .contact-content-con {
        flex-direction: column;
        .right-contact {
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }
    .contact-content-con .right-contact .i-c-2 {
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child {
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .main-btn {
        margin-bottom: 5rem;
    }
    // === CONTACT ===
}

@media screen and (max-width: 1230px) {
    .header-content .right-header {
        padding-right: 8rem;
    }
}

@media screen and (max-width: 1230px) and (min-width: 800px) {

    .about-container {
        grid-template-columns: 1fr;
        .right-about {
            padding-top: 2.5rem;
        }
    }

    .main-title {
        h2 {
            font-size: 4rem;
            span {
                font-size: 4rem;
            }
            .bg-text {
                font-size: 6rem;
            }
        }
    }

    .portfolios {
        grid-template-columns: 1fr 1fr;
    }

    .sec2 {
        padding: 2rem 8rem;
    }

    #portfolio {
        padding: 2rem 8rem;
    }

    .about-stats .stats-skills {
        grid-template-columns: 1fr 1fr;
    }
}